* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.iphone-picture {
    display: flex;
    justify-content: flex-end;
}

.iphone-picture img {
    width: 450px;
    height: 608px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    gap: 0.8rem;
}

.login-area {
    border: 1px solid rgba(169, 169, 169, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0 30px 0;
    height: 400px;
    margin-top: 20px;
}

.login-area img {
    width: 170px;
    height: 50px;
}


form {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 340px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
    padding-top: 30px;
}

form input {
    background-color: rgba(70, 69, 69, 0.233);
    border: 1px solid rgba(169, 169, 169, 0.3);
    padding: 10px;
    width: 270px;
    border-radius: 2px;
}

input::placeholder {
    color: rgba(169, 169, 169, 0.823);
}

form button {
    width: 270px;
    padding: 7px;
    border: 1px solid transparent;
    background-color: #0968AD;
    border-radius: 8px;
    font-weight: 700;
    font-size: 14px;
    color: rgb(169, 169, 169);
}

form button:hover {
    transition: all 0.5s;
    background-color: #0f91ee;
    color: white;
}


.icon-facebook {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 20px;
    gap: 5px;
}

.icon-facebook i {
    color: #0095F6;
    font-size: 18px;
}

.icon-facebook a {
    text-decoration: none;
    font-size: 14px;
    color: #0095F6;
    font-weight: 600;
}

.icon-facebook  a:hover {
    color: #69baf0;
}

.div-line {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 13px;
}

.div-line div {
    width: 100px;
    height: 1px;
    background-color: #262626;
}

.div-line  p{
    color: #d4d4d4;
}


p a {
    text-decoration: none;
    font-size: 14px;
}

.apps {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
    font-weight: 200;
}

.apps h3 {
    padding: 15px;
    font-weight: 100;
    font-size: 14px;
}

.app-logo {
    display: flex;
    gap: 12px;
}

.logo-apple {
    width: 135px;
    height: 46px;
    padding: 5px;
    border: 1px solid rgba(241, 237, 237, 0.574);
    border-radius: 3px;
}

.logo-google {
    width: 130px;
    height: 46px;
    border: 1px solid rgba(241, 237, 237, 0.574);
    border-radius: 3px;
}

.cadastro {
    display: flex;
    border: 1px solid rgba(169, 169, 169, 0.3);
    padding: 25px;
    font-size: 13px;
    justify-content: center;
    font-weight: 200;
    width: 350px;
}

.cadastro a {
    text-decoration: none;
    color: #0095F6;
}

.cadastro a:hover {
    color: #69baf0;;
}

.cadastro p {
    font-weight: 100;
    font-size: 14px;
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

ul {
    display: flex;
    font-size: 12px;
    justify-content: space-around;
    gap: 20px;
}

ul {
    list-style: none;
}

ul a{
    text-decoration: none;
}

ul a:hover {
    text-decoration: underline
}

li a{
    color: rgba(223, 221, 221, 0.708);
    list-style: none;
}

.language {
    display: flex;
    padding-top: 10px;
    gap: 20px;
}

.language p {
    font-size: 12px;
    color: rgba(223, 221, 221, 0.708);
}

select {
    color: rgba(223, 221, 221, 0.708);
    background-color: black;
    border: none;
    outline: none;
    font-size: 12px;
}